h1{
    text-align: center;
    font-weight: bold;
    background-color:burlywood;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
